* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: hsl(207, 33%, 79%);
    --text-color: hsl(208, 33%, 33%);
    --gold: hsl(51, 100%, 40%);
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

h1 {
    font-size: 3em;
    margin: 0.67em 0;
    font-weight: 700;
}

h2 {
    font-size: 2.5em;
}

a {
    background-color: transparent;
}

small {
    font-size: 80%;
}

img {
    border-style: none;
    display: block;
}

body {
    background-color: var(--blue);
    font-family: 'Cabin', sans-serif;
}

p {
    font-size: 1.3rem;
    color: var(--text-color);
}

#main {
    width: 1200px;
    background-color: #fff;
    margin: 50px auto;
    padding: 4rem 10rem;
    max-width: 100%;
    box-shadow: 1px 1px 7px hsl(0, 0%, 24%);
}

#title {
    color: var(--gold);
    text-align: center;
    margin-top: 50px;
}

.sub-title {
    color: var(--gold);
    text-align: center;
    margin: 5rem 0;
}

#img-div {
    margin: 5rem 0;
}

#img-caption {
    text-align: center;
    margin: 3rem 0 0;
}

#image {
    max-width: 100%;
    width: 270px;
    margin: 5rem auto auto;
}

.paragraph {
    margin: 50px 0;
}

/* Alfred */

.alfred-container {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 50px;
}

#alfred-image {
    max-width: 100%;
    width: 400px;
}

/* Footer */

footer {
    margin-top: 80px;
}

#tribute-link {
    color: var(--text-color);
}

/* media queries */

@media (max-width: 1201px) {
    #main {
        margin: auto;
        padding: 3rem 5rem;
    }
}

@media (max-width: 830px) {
    .alfred-container {
        grid-template-columns: auto;
    }

    #tribute-info {
        margin: 0;
    }

    #alfred-image {
        margin: 2rem auto;
    }

    footer {
        text-align: center;
    }
}

@media (max-width: 501px) {
    #main {
        padding: 3rem 3rem;
    }
}

@media (max-width: 328px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    #main {
        padding: 1.5rem;
    }
}

@media (max-width: 123px) {
    #main {
        padding: 10px;
        word-wrap: break-word;
    }

    #title {
        margin: 0;
        padding-top: 50px;
    }
}