:root {
    --blue: hsl(207, 33%, 79%);
    --text-color: hsl(208, 33%, 33%);
    --gold: hsl(51, 100%, 40%);
}

* {
    box-sizing: border-box;
}

html {
    line-height: 1.5; 
    -webkit-text-size-adjust: 100%; 
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 3em;
    margin: 0.67em 0;
    font-weight: 700;
}

h2 {
    font-size: 2.5em;
}

a {
    background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

small {
    font-size: 80%;
}

img {
    border-style: none;
    display: block;
}

body {
    background-color: var(--blue);
    font-family: 'Cabin', sans-serif;
}

p {
    font-size: 1.3rem;
    color: var(--text-color);
}

#main {
    width: 1200px;
    background-color: #fff;
    margin: 50px auto;
    padding: 4rem 10rem;
    max-width: 100%;
    box-shadow: 2px 2px 15px hsl(207, 15%, 65%);
}

#title {
    color: var(--gold);
    text-align: center;
    margin-top: 50px;
}

.sub-title {
    color: var(--gold);
    text-align: center;
    margin: 5rem 0;
}

#img-div {
    margin: 5rem 0;
}

#img-caption {
    text-align: center;
    margin: 3rem 0 0;
}

#image {
    max-width: 100%;
    width: 17rem;
    min-width: 5rem;
    margin: auto;
    margin-top: 5rem;
}

.paragraph {
    margin: 50px 0;
}

/* Alfred */

.alfred-container {
    display: flex;
    margin-top: 50px;
}

.tribute-container {
    text-align: center;
    margin: 0 70px 0 0;
    display: flex;
    justify-content: center;
}

/* #tribute-info {
    display: flex;
    margin: auto;
} */

#alfred-image {
    max-width: 100%;
    width: 150rem;
    min-width: 10rem;
}

footer {
    margin-top: 80px;
}

#tribute-link {
    color: var(--text-color);
}

/* media queries */

@media (max-width: 1201px) {
    #main {
        margin: auto;
        padding: 3rem 5rem;
    }
}

@media (max-width: 981px) {
    .alfred-container {
        flex-direction: column;
    }

    .tribute-container {
        margin: 2rem auto;
    }

    .alfred-image-div {
        display: flex;
        justify-content: center;
    }

    footer {
        text-align: center;
    }
}

@media (max-width: 501px) {
    #main {
        padding: 3rem 3rem;
    }
}

@media (max-width: 328px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1rem;
    }
}